* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --orange-clr: hsl(31, 77%, 52%);
  --d-cyan-clr: hsl(184, 100%, 22%);
  --vd-cyan-clr: hsl(179, 100%, 13%);
  --light-gray: hsl(0, 0%, 95%);
}

body {
  background: var(--light-gray);
  width: 375px;
  min-height: 100vh;
  margin: 20px auto;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  border: 1px solid hotpink;
}

.card {
  padding: 30px;
  color: var(--light-gray);
}

.card img {
  margin-bottom: 20px;
}
.card .title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 1.85rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.card p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 20px;
}

.card-sedans {
  background: var(--orange-clr);
  border-radius: 10px 10px 0 0;
}
.card-sedans .btn {
  color: var(--orange-clr);
}

.card-suvs {
  background: var(--d-cyan-clr);
}
.card-suvs .tbn {
  color: var(--d-cyan-clr);
}
.card-luxury {
  background: var(--vd-cyan-clr);
  border-radius: 0 0 10px 10px;
}
.card .btn {
  color: var(--vd-cyan-clr);
}
.btn {
  background: var(--light-gray);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border-radius: 50px;
  border: 2px solid var(--light-gray);
  cursor: pointer;
  margin-top: 1.185rem;
  outline: none;
  transition: background 0.1s ease-in;
}
.btn:hover {
  background: transparent;
  color: var(--light-gray);
  border: 1px solid var(--light-gray);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 990px) {
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 800px;
    min-height: 100vh;
    margin: auto;
  }
  .card-sedans {
    border-radius: 10px 0 0 10px;
  }
  .card-luxury {
    border-radius: 0 10px 10px 0;
  }
}
@media (min-width: 1200px) {
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 800px;
    min-height: 100vh;
    margin: auto;
  }
  .card-sedans {
    border-radius: 10px 0 0 10px;
  }
  .card-luxury {
    border-radius: 0 10px 10px 0;
  }
}
